* {
    padding: 0;
    margin: 0;
}

#body {
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 10000;
}

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #EDCD1F;
    font-size: 1.2em;
    width: 30%;
}

.slogan {
    margin-top: 3px;
    margin-left: 4px;
    color: #1E2D3B;
}

.img_logo {
    background-image: url("../img/icono.webp");
    background-size: cover;
    width: 50px;
    height: 53px;
    margin-right: 5px;
}

.menu {
    width: 70%;
    height: 100%;
    background-color: #1E2D3B;
}

.menu > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    list-style: none;
    margin-right: 30px;
}

.menu > ul > li > a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 15px;
    transition: all 100ms;
}

.menu > ul > li:hover > a {
    font-size: 1.2em;
    color: #EDCD1F;
}

/* Inicio video */
#ParallaxVideo{ 
    height: 50em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ParallaxVideo video{ 
    min-width: 100%;
    position: fixed;
    top:-300px;
    z-index: -99;
}

.text_inicio {
    padding: 18px;
    width: 60%;
    height: 300px;
    text-align: center;
    font-size: 2.3em;
    letter-spacing: 0.04em;
    text-shadow: 0px 1px 4px black;
    color: #FFFFFF;
}



/* Inicio Servicios */
#servicios1 {
    width: 100%;
    background-color: white;
    padding-bottom: 50px;
}
#servicios {
    margin: 0px auto;
    width: 60%;
}

.text_servicios {
    margin: 0 auto;
    padding-top: 116px;
    padding-bottom: 12px;
    width: 330px;
    height: 66px;
    font-size: 3.5em;
    letter-spacing: 0.04em;
    font-weight: bold;
    text-align: center;
    color: #C6C6C6;
}

.barra {
    margin: 0 auto;
    width: 116px;
    height: 10px;
    background-color: #EDCD1F;
}

.cajas {
    width: 100%;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caja {
    width: 31%;
    background-color: #F7F7F7;
}

.caja .image-wrap img {
    width: 100%;
}

.info {
    width: 100%;
    background-color: #F7F7F7;    
}

.titulo_servicios {
    margin: 18px auto;
    width: 85%;
    color: #3D5985; 
}

.parrafo_servicios {
    width: 85%;
    margin: 5px auto;
    margin-bottom: 35px;
    line-height: 1.6em;
    font-size: 15px;
    color: #3B3A3A;
    
}

/* Inicio Nosotros */
#nosotros {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.nosotrosA {
    width: 50%;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 25px;
}

.text_nosotros {
    margin-right: 0.2em;
    padding-top: 116px;
    padding-bottom: 50px;
    width: 60%;
    height: auto;
    font-weight: bold;
    letter-spacing: 0.04em;
    font-size: 3em;
    color: #C6C6C6;
}

.parrafo_nosotros {
    margin-top: 40px;
    font-size: 0.3em;
    line-height: 1.7em;
    color: #3B3A3A;
    font-weight: lighter;
    margin-right: 0.3em;
}

.izquierda {
    margin: 0px;
    margin-top: 10px;
    width: 116px;
    height: 10px;
    background-color: #EDCD1F;
}

.nosotrosB {
    width: 50%;
    background-image: url("../img/image4.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Inicio Recorrido */

#recorrido {
    width: 100%;
    height: 250px;
    background-color: #EDCD1F;
}

#recorrido .emboltura {
    margin: 0 auto;
    width: 65%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.caja_principal {
    width: 25%;
    height: 140px;
}

.caja_principal > h2 {
    color: #FFFFFF;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.caja_principal > p {
    text-align: center;
    color: #3D5975;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.1em
}

.barra_vertical {
    width: 2px;
    height: 71px;
    background-color: #FFFFFF;
}

/* Inicio Proyectos */
#proyectos1 {
    width: 100%;
    padding-bottom: 50px;
    background-color: white;
}

#proyectos {
    width: 60%;
    margin: 0 auto;
    margin-top: 4em;
}

.bxslider div img{
    width: 100%;
}

/* Inicio Empresas */
#clientes {
    width: 100%;
    background-color: #F7F7F7;
    padding-bottom: 50px;
}

.titulo_clientes {
    padding-top: 50px;
}

.iconos_empresas {
    margin: 0 auto;
    margin-top: 25px;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.iconos_empresas img {
    margin: 0 30px;
    box-shadow: 0px 0px 5px black;
}

.alcaldia {
    width: 15%;
    height: 127px;
}

.argos {
    width: 15%;
    height: 127px;

}

.serving {
    width: 25%;
    height: 127px;
}


/*Inicio Contacto  */
#contacto1 {
    width: 100%;
    background-color: white;
}
#contacto {
    margin: 0 auto;
    width: 60%;
}

.mapai {
    margin-top: 50px;
    width: 100%;
    height: 320px;
}

.principal_datos {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.datos {
    width: 45%;
    font-size: 1.2em;
}

.datos a {
    display: block;
    width: 25%;
    transition: all 100ms;
}

.redes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.redes_sociales {
    width: 100%;
}

.redes_sociales img{
    width: 80%;
    margin-top: 1em;
    transition: width 300ms;
}

a:hover .redes_sociales img {
    width: 90%;
}


.datos p {
    margin-top: 25px;
    margin-bottom: 25px;
}

.datos h4 {
    font-size: 1.4em;
}

.barra_contacto {
    margin: 30px 0;
}


.whatsapp {
    position: fixed;
    right: 25px;
    bottom: 100px;
    width: 60px;
    z-index: 1000;
    border-radius: 32px;
    background-color: #ECEFF1;
    box-shadow: 0px 0px 10px rgb(158, 157, 157);
    transition: all 300ms;
}

.whatsapp img {
    width: 100%;
    height: auto; 
}

.whatsapp:hover {
    box-shadow: 0px 0px 20px rgb(111, 180, 19);
}

#fb-root:hover {
    box-shadow: 0px 0px 20px rgb(34, 113, 233); 
}

/* Footer */
footer{
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
    font-size: small;
    background-color: white;
}
